.heading{
    font-size: large;
    text-align: center;
    width: 400px;
}
.login-btn{
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    text-align: center;
}
.para{
    font-size: small;
    color: rgb(137, 129, 129);
    text-decoration-color: rgb(114, 109, 109);
}
.para1{
    font-size: xx-small;
    margin: 20px 100px;
    color: rgb(128, 123, 123);
}
.image{
    
}
